name: shield_ios
description: iOS implementation of the shield plugin
version: 0.1.0+1
publish_to: none

environment:
  sdk: ">=2.17.0 <3.0.0"
  flutter: ">=3.0.0"

flutter:
  plugin:
    implements: shield
    platforms:
      ios:
        pluginClass: ShieldPlugin
        dartPluginClass: ShieldIOS

dependencies:
  flutter:
    sdk: flutter
  shield_platform_interface:
    git:
      url: https://github.com/sarisuki-ph/shield_flutter.git
      path: shield_platform_interface

dev_dependencies:
  flutter_test:
    sdk: flutter
  plugin_platform_interface: ^2.0.0
  very_good_analysis: ^3.0.1
